.countryHeader{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: white;
    margin: 20px 50px;
    height:70px;
    border-radius: 25px;

    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding:10px 20px;
    
    &__wrapper{
        height:100%;
        display: flex;
        justify-content: cente;
    }
}